/*@font-face {
font-family: 'Akkurat';
src: url('../../Akkurat-Bold.woff2') format('woff2'),
    url('../../Akkurat-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}*/

:root {
    --html: 10px;
    --text-big: 3.5rem;
    --text-body: 1.8rem;
    --h1: 2.8rem;
    --h2: 2.2rem;
    --h3: 2rem;
    --small: 1.4rem;
  }
  
  html {
    font-size: var(--html);
  }
  
  body {
    @apply text-body bg-neutral-700 text-white;
  }
  
  p {
    @apply text-pretty;
  }
  
  .text-big,
  .text-h1,
  .text-h2,
  .text-h3 {
    @apply text-balance;
  }
  
  /* .text-body {
      
    }
    
    .text-big {
      
    } */
  
  /*//////////////////////////////////////////////////////////*/
  /*///////////////////////// 640px //////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xs")) {
    :root {
      --html: 10px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*//////////////////////// 768px ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.sm")) {
    :root {
      --html: 11px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*//////////////////////// 992px ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xg")) {
    :root {
      --html: 11px;
      --text-big: 5rem;
      --text-body: 1.8rem;
      --h1: 3rem;
      --h2: 2.5rem;
      --h3: 2rem;
      --small: 1.6rem;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*///////////////////////// 1064px /////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xl")) {
    :root {
      --html: 9px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*///////////////////////// 1280px /////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.2xl")) {
    :root {
      --html: 10px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*///////////////////////// 1536px /////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.3xl")) {
    :root {
      --html: 11px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*///////////////////////// 1920 ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.4xl")) {
    :root {
      --html: 12px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// 2560 //////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.5xl")) {
    :root {
      --html: 15px;
    }
  }
  