:root{
	--burger-color: #fff;
	--burger-size: 3.5rem;
}

.burger {
	@apply absolute cursor-pointer top-[2.5rem] z-[9999] xg:hidden ;
	width: var(--burger-size);
	height: var(--burger-size);
	right: var(--container-gap);
}

.burger-box {
	@apply relative inline-block h-[24px];
	width: var(--burger-size);
  perspective: 80px;
}

.burger-inner {
	@apply block top-[50%] transition-all;
	margin-top: -2px;
}

.burger-inner,
.burger-inner::after,
.burger-inner::before {
  @apply absolute w-100% transition-all duration-[0.2s] ease-in-out	;
	height: 4px;
	background-color: var(--burger-color);
}



body.menu-in .burger-inner::after,
body.menu-in .burger-inner::before {
	background-color: #fff;
}

.burger-inner::after,
.burger-inner::before {
	content: "";
	display: block;
}

.burger-inner::before {
	top: -10px;
}

.burger-inner::after {
	bottom: -10px;
}


body.menu-in {

  .burger-inner {

    background-color: transparent;
    transform: rotateY(180deg);

    &::before {
      transform: translate3d(0, 10px, 0) rotate(45deg);
    }

    &::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
    }

  }

}

