:root {
  --field-height: 7rem;
  --field-margin-bottom: 2rem;
  --option-height: calc(var(--field-height) + var(--field-margin-bottom));
  --invalid-color: theme("colors.red");
}

.form {

  @apply w-full;

  .field {
    @apply relative;
  }

  [type="submit"] {
    @apply text-body 
          mt-2 
          cursor-pointer 
          border-none p-0 
          disabled:opacity-40 
          disabled:cursor-none;

          .txt{
            @apply
              flex
              items-center 
              gap-1; 
          }


  }

  input:not([type="submit"]),textarea {

    outline: none !important;
    min-height: var(--field-height);
    height: var(--field-height);
    line-height: 1;
    margin-bottom: var(--field-margin-bottom);

    @apply text-body 
        w-full 
        bg-transparent 
        border-b
       border-b-white 
        py-2 
        pr-1 
        shadow-none 
        placeholder-white
        /* invalid:border-b-red */
        ;

  }

  textarea {
    @apply min-h-[8rem] resize-y overflow-hidden;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply w-auto;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }

}

/* CONTACT FORM 7 */

.screen-reader-response{
  @apply hidden;
}

.wpcf7-response-output {
  @apply pt-4 xg:pt-7;
}

/* .wpcf7-not-valid-tip {} */

.wpcf7-spinner {
  position: absolute;
  top: calc(100% + 3rem);
  left: 2rem;
  width: 3rem;
  height: 3rem;
  background-image: url(..img/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

