#menu{

  padding-left: var(--container-gap);
  padding-right: var(--container-gap);

  @apply 
    fixed 
    xg:relative 
    w-100%
    h-screen
    xg:h-auto
    top-0 
    right-0 
    flex 
    flex-col
    xg:flex-row
    py-2 pb-6
    gap-2
    xg:gap-0
    bg-neutral-700
    justify-start
    xg:justify-between 
    translate-x-[100%]	
    xg:translate-x-[0%]
    z-[999]
    transition-all
    ease-in-out
    duration-[.4s];

    a{
      @apply text-h1 xg:text-body;
      
      &:nth-child(2){
        @apply mt-5 xg:mt-0;
      }

    }
    

}

.menu-in{

  #menu{
    @apply translate-x-[0%];
  }

}

@media ( min-width:992px ){

  #menu{
    padding: 0;
  }

}