/* ////////////////////////// SCROLLBARS /////////////////////////// */

/* width */
::-webkit-scrollbar {width: .7rem}

  /* Track */
  ::-webkit-scrollbar-track {
  	background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
  	background: theme(colors.neutral.500);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  	background:  theme(colors.neutral.800);
  }